@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#kid{
    height: 250px;
    width: 400px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translateX(-300px);
}
img{
    height: 250px;
    width: 400px;
}
.cont{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.p{
    color: #1aa6b7;
    font-size: 57px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px rgba(0, 0,0,0.3);
}
.nav{
    min-height: 14vh;
    width: 100%;
    border-bottom: 2px solid #1aa6b7;
    position: absolute;
    top: 0%;
    box-shadow: 0px 0px 5px 0px #d9ecf2;
    transition: 0.6s ease-out;
    background-color: #d9ecf2;
    z-index: 1;
}
.nav:hover{
    min-height: 16vh;
}
.nav.nav1{
    min-height: 60vh;
    z-index: 1;
    background-color: #1aa6b7;
    border-bottom: 2px solid black;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    margin-top: 10px;
    animation: shake 1.3s infinite; 
}
.img{
    max-height: 5vh;
    transition: 0.6s ease-out;
}
.img.img1{
    transform: rotate(180deg);
}
h3{ 
    font-family: 'Dancing Script', cursive;
}
.greet{
    position: absolute;
    top: 24vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: 0.4s ease-out;
}
.msg{
    color: #f7f7f7;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
}
.in-greet{
    max-width: 400px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }